{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="card shadow mx-auto" style="max-width: 600px;">
    <div class="card-body">
      <h1 class="card-title text-center mb-4">Choose an Assessment</h1>
      <div class="list-group">
        <a href="/first_challenge" class="list-group-item list-group-item-action">First Challenge</a>
        <a href="/second_challenge" class="list-group-item list-group-item-action">Second Challenge</a>
        <a href="/third_challenge" class="list-group-item list-group-item-action">Third Challenge</a>
        <a href="/fourth_challenge" class="list-group-item list-group-item-action">Fourth Challenge</a>
        <a href="/fifth_challenge" class="list-group-item list-group-item-action">Fifth Challenge</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
